.content {
  display: flex; /* Размещаем элементы в строку */
  min-height: calc(100vh); /*Высота экрана минус хедер*/
}


/* Анимация вращения */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Высота на весь экран */
  width: 100%; /* Ширина на весь экран */
}

.loader {
  border: 8px solid #f3f3f3; /* светлая окантовка */
  border-top: 8px solid #3498db; /* синяя часть */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 1s linear infinite;
}






